#main {
    padding: 0;
    margin-left: 2vw;
    margin-right: 2vw;
    box-sizing: border-box;
    

}
*{
    max-zoom: 25%;
}


@font-face {
    font-family: Poppins-Thin;
    src: url(Poppins-Thin.ttf);
}

a{
    text-decoration: none;
    color: whitesmoke;
}

body {
    background-color: #212121;
    font-size: 2vw;
    font-family: Poppins-Thin;
    color: whitesmoke;
    
}

footer {
    background-color: black;
    display: flex;
    align-items: center;
    margin: 20px;

}

#footerTXT {
    font-size: 1vw;
    text-align: center;
    width: 25vw;
}
.links{
    display: flex;
    
}

#SponsorLogo {
    height: 20%;
    display: flex;
    justify-content: flex-end;
}

#IMGbar {
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
}

.barIMGS {
    width: 16vw;
    height: 10vw;
}
#logoIMG{
    margin-left: 30px;
}

#Introductie {
    display: flex;
    justify-content: center;
    gap: 72px;
    width: 60vw;
    margin: 0 auto;
    padding: 40px;
}

#pageswitch {
    font-size: 10px;
}

.reviews {
    display: flex;
    justify-content: center;
    gap: 138px;
}

#ReviewT {
    margin-left: 9vw;
    border-bottom: 2px solid white;
}

#Tripadvisor {
    width: 35vw;
}

#GoogleReviews {
    width: 35vw;
}
