* {
    padding: 0;
    margin-left: 2%;
    margin-right: 2%;
    box-sizing: border-box;
}

@font-face {
    font-family: Poppins-Thin;
    src: url(Poppins-Thin.ttf);
}

body {
    background-color: #212121;
    font-size: 28px;
    font-family: Poppins-Thin;
    color: whitesmoke;
}

body.light-mode {
    background-color: whitesmoke;
    color: black;
}
body.dark-mode {
    background-color: #212121;
    color: white;
}

button{
    background-color: #212121; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

footer {
    background-color: black;
}

#footerTXT {
    margin-left: 20px;
}

#SponserLogo {
    width: 20%;
}

#qr{
    height: 265px;
}

#IMGbar {
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
}

.barIMGS {
    width: 26%;
    height: 20%;
}

#Introductie {
    display: flex;
    justify-content: center;
    gap: 72px;
    width: 60%;
    margin: 0 auto;
    padding: 40px;
}

#pageswitch {
    font-size: 10px;
}

.reviews {
    display: flex;
    justify-content: center;
    gap: 138px;
}

#ReviewT {
    margin-left: 9%;
    border-bottom: 2px solid white;
}

#Tripadvisor {
    width: 35%;
}

#GoogleReviews {
    width: 35%;
}

#introIMG{
    width: 60%;
    height: 60%;
}


#Introductie{
 font-size: 20px;
 width: auto;
 display: flex;
 align-items: center;
 
}

#infoIMG{
    height: 50%;
    width: 50%;
}

#Informatie{
    font-size: 20px;
    width: 50%;
    display: flex;
}   

.article-information{
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: whitesmoke;
}